/* 폰트 */
@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff")
      format("woff");
}

html,body,
.tui-editor-contents {
  font-family: "LotteMartDream", sans-serif !important;
}

/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
/* 	font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {content:''; display: block; clear: both;}
img {vertical-align: top;}

/* TYPOGRAPHY */
* {
    -webkit-font-smoothing: antialiased;
}
body {
    font: 16px/28px "Montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}

.content_tt { font-size: 30px; font-weight: 600; color: #555; text-align: center;}
.content_desc {font-size: 16px; font-weight: 300; color: #8c8c8c; width: 65%; margin: 23px auto 33px;}

/* LAYOUT */
.container { width: 1170px; margin: 0 auto;}


/* COMMON ELEMONTS */
.primary_color {

}
.btn {
  background: #998675;
  padding: 0 29px;
  line-height:50px;
  text-transform:uppercase;
  font-weight:bold;
  display:inline-block;
  border-radius:3px;
  color:#fff;
  text-decoration:none;
  position:relative;
  box-shadow:inset 0 -3px #736357;
}
.btn:before {
  content:''; position:absolute; background:#736357; border-radius:3px; bottom:0;
}

@import url(test-common.css);

/* header */

header {  position:fixed;
  top:0;
  left:0;
  width:100%;
  /* 스크롤 전 헤더 배경색 */
  background:rgba(0,0,0,0);
  z-index:1000;
  /* 메뉴 영역 세로 사이즈 */
  
  overflow:hidden;
  line-height:100px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;}
header .logo {float: left; margin-top:21px; margin-left:40px;}
header nav {float: right;}
header nav ul {float: left;}
header nav ul li {float: left;}
header nav ul li a {line-height: 56px; font-size: 14px; color: #fff; text-decoration: none;}
.main-menu li{margin-right: 29px;}
.main-menu li:last-child{margin-right: 60px;}

.top-icons li{margin-right: 29px;}
.top-icons li:last-child{margin-right: 0;}

header nav ul li a:hover, header nav ul li a.active{
    color: #c7b299;
}

header .logo a{width: 171px; height: 56px; background: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbf7ugG%2FbtqT6Ie7oGe%2FS3g5dflgWaUONth84FJe40%2Fimg.png) no-repeat;
display: block; text-indent: -9999em;}

.header.roll {
  /* 스크롤 후 헤더 사이즈(세로) */
  height: 90px;
  line-height:90px;
  /* 스크롤 후 헤더 배경색 */
  background-color:#000000;
}

.header .navi {
  /* 메뉴 영역 가로 사이즈 */
  width:1200px;
  margin:0 auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.header .roll .navi {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


.toggle {display: none;}



/* FOOTER */
footer p {color: #555; font-size: 14px;}

.footer_bottom {background: #111; padding: 42px 0 49px;}
.footer_bottom p {line-height: 20px;}
.footer_bottom .copy {float: left;}
.footer_bottom .designer {float: right;}
.footer_bottom p a {color: #555; text-decoration: none;}
.footer_bottom p a:hover {color: #c7b299;}
.footer_bottom p span {color: #959595;}
.footer_bottom p .devider {margin: 0 8px;}

.footer_bottom .footer_logo a {width : 171px; height: 56px; background: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbf7ugG%2FbtqT6Ie7oGe%2FS3g5dflgWaUONth84FJe40%2Fimg.png) no-repeat;}

header .logo a{width: 171px; height: 56px; background: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbf7ugG%2FbtqT6Ie7oGe%2FS3g5dflgWaUONth84FJe40%2Fimg.png) no-repeat;
    display: block; text-indent: -9999em;}
/* RESPONSIVE */
@media screen and (max-width:768px) {
    .container {width: 100%; padding: 0 15px; box-sizing: border-box;}
    header {position: static; top: 0; background: #fff; padding: 20px 0 0;  box-shadow: 0 3px 3px rgba(0,0,0,.3);}
    .toggle {display: block; position: absolute; top: 20px; right: 15px; line-height: 56px;}
    header .container {padding: 0;}
    header .logo a {background-image: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbeHqO0%2FbtqT9153HOb%2FeqnPJwYK6BZKcYE9AkdTvK%2Fimg.png);}
    .top-icons li:last-child {display: none;}
    .top-icons li a {color: #555;}
    header nav {float: none; background: #111; padding: 0 15px;}
    header nav ul {float:none;}
    header .logo {float:none; padding-bottom: 20px; margin-left: 15px; margin-top:9px;}
    .main-menu {display: none;}
    .main-menu li {float: none; border-bottom: 1px solid #252525;}
    .top-icons {position: absolute; top: 20px; right: 30px;}

}
@media screen and (max-width:480px) {

}
  



/* 라이브러리 */
.hover-underline:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.min-height-100vh {
  min-height: 100vh;
}

.bg-pink {
  background-color: pink;
}

.bd-green {
  border: 10px solid green;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.height-100p {
  height: 100%;
}

.none {
  display: none;
}

.block {
  display: block;
}

/* 커스텀 */
.con-min-width {
  min-width: 1200px;
}

.con {
  width: 1200px;
}

/* 로고 시작 */
.logo {
  font-size: 4rem;
}

.logo > span {
  margin-left: 10px;
}

.logo > span > span {
  color: red;
}

.logo--mini {
  font-size: 2rem;
}
/* 로고 끝 */

/* 로고바 시작 */
.logo-bar {
  background-color: black;
  color: white;
  height: 150px;
}
/* 로고바 끝 */

/* 메뉴바 시작 */
.menu-bar {
  background-color: black;
  color: white;
}

.menu-bar__menu-1 > ul > li {
  flex:1 0 0;
  position: relative;
}

.menu-bar__menu-1 ul > li > a {
  text-align: center;
  padding: 20px 0;
}

.menu-bar__menu-1 ul > li:hover > a {
  background-color: white;
  color: black;
}

.menu-bar__menu-1 > ul > li > a {
  border-radius: 10px 10px 0 0;
}

.menu-bar__menu-1 > ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: -10px;
  width: 100%;
  background-color: black;
  border: 10px solid black;
  border-top-width: 0;
  border-radius: 0 0 20px 20px;
  z-index: 10;
}

.menu-bar__menu-1 > ul > li:hover > ul {
  display: block;
}

.menu-bar__menu-1 > ul ul > li:last-child > a {
  border-radius: 0 0 10px 10px;
}
/* 메뉴바 끝 */

/* 타이틀바 시작 */
.title-bar {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* 타이틀바 끝 */

/* 하단바 시작 */
.bottom-bar {
  margin-top: 30px;
  background-color: black;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom-bar__site-info {
  margin-left: 20px;
}
/* 하단바 끝 */


/* 게시물 검색 시작 */

.article-search > form {
  display:flex;
  justify-content:flex-end;
  padding:10px;
}

/* 게시물 검색 끝 */

/* 게시물 리스트 시작 */
:root {
  --article-list__cell-id__width: 100px;
  --article-list__cell-reg-date__width: 220px;
  --article-list__cell-writer__width: 150px;
  --article-list__cell-title__width: calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width)- var(--article-list__cell-writer__width));
}

.article-list > * > div {
  display: flex;
}

.article-list > div > div > div {
  position: relative;
}

.article-list > div > div > div:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 10px;
  background-color: black;
}

.article-list > * > div > div {
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.article-list__cell-id {
  width: var(--article-list__cell-id__width);
}

.article-list__cell-reg-date {
  width: var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
  width: var(--article-list__cell-writer__width);
}

.article-list__cell-title {
  width: var(--article-list__cell-title__width);
}

.article-list__cell-title {
  text-align: left;
  padding-left: 10px;
}

.article-list > .main > div {
  border-top: 1px solid black;
}
/* 게시물 리스트 끝 */

/* 게시물 리스트 페이지 메뉴 시작 */
.article-page-menu {
  margin-top: 20px;
}

.article-page-menu > ul > li > a {
  padding: 7px;
}

.article-page-menu > ul > li:not(:first-child ):not(:last-child ) > a {
  border: 1px solid transparent;
  padding-left: 0;
  padding-right: 0;
  min-width: 30px;
  justify-content: center;
}

.article-page-menu > ul > li:not(:first-child ):not(:last-child ):hover > a {
  border-color: #afafaf;
}

.article-page-menu__link--selected {
  color: red;
}
/* 게시물 리스트 페이지 메뉴 끝 */

/* 게시물 상세 시작 */
.article-detail > * {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  padding-top: 20px;
}

.article-detail__title {
  font-size: 1.2rem;
  padding-top: 0;
}

.article-detail__sub-info > * {
  margin-right: 15px;
}

.article-detail__menu > a {
  margin-right: 15px;
}

/* 게시물 상세 끝 */

/* vue 시작 */
[v-cloak] {
	display:none;
}
/* vue 끝 */

.serve-menu-bg {
	height:100px;
	width:100%;
	background:#111;
}