/* 폰트 */
@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff")
      format("woff");
}

html,body,
.tui-editor-contents {
  font-family: "LotteMartDream", sans-serif !important;
}

/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
/* 	font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {content:''; display: block; clear: both;}
img {vertical-align: top;}

/* TYPOGRAPHY */
* {
    -webkit-font-smoothing: antialiased;
}
body {
    font: 16px/28px "Montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}

.content_tt { font-size: 30px; font-weight: 600; color: #555; text-align: center;}
.content_desc {font-size: 16px; font-weight: 300; color: #8c8c8c; width: 65%; margin: 23px auto 33px;}

/* LAYOUT */
.container { width: 1170px; margin: 0 auto;}


/* COMMON ELEMONTS */
.primary_color {

}
.btn {
  background: #998675;
  padding: 0 29px;
  line-height:50px;
  text-transform:uppercase;
  font-weight:bold;
  display:inline-block;
  border-radius:3px;
  color:#fff;
  text-decoration:none;
  position:relative;
  box-shadow:inset 0 -3px #736357;
}
.btn:before {
  content:''; position:absolute; background:#736357; border-radius:3px; bottom:0;
}

@import url(test-common.css);

/* header */



header {  
  position:fixed;
  top:0;
  left:0;
  width:100%;
  /* 스크롤 전 헤더 배경색 */
  background:rgba(0,0,0,0);
  z-index:1000;
  /* 메뉴 영역 세로 사이즈 */
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}
.header-btn {
	padding:25px 28px !important;
}

.header-area .main-header {
	padding:0px 120px;
}
@media only screen and (min-width:1200px) and (max-width:1600px) {
	.header-area .main-header {
		padding:0px 10px;
	}
}
@media only screen and (min-width:992px) and (max-width:1199px) {
	.header-area .main-header {
		padding:0px 10px;
	}
}
@media only screen and (min-width:768px) and (max-width:991px) {
	.header-area .main-header {
		padding:22px 0px;
	}
}
@media only screen and (min-width:576px) and (max-width:767px) {
	.header-area .main-header {
		padding:22px 0px;
	}
}
@media (max-width:575px) {
	.header-area .main-header {
		padding:22px 0px;
	}
}
.header-area .main-header .menu-wrapper {
	display:flex;
	align-content:center;
	justify-content:space-between;
	flex-wrap:wrap;
	align-items:center;
}
.header-area .main-header .menu-wrapper .main-menu ul li {
	display:inline-block;
	position:relative;
	z-index:1;
}
.header-area .main-header .menu-wrapper .main-menu ul li a {
	font-size:16px;
	font-family:"Josefin Sans",sans-serif;
	color:#141517;
	font-weight:600;
	padding:41px 21px;
	display:inline-block;
	text-transform:capitalize;
	display:block;
	-webkit-transition:all .3s ease-out 0s;
	-moz-transition:all .3s ease-out 0s;
	-ms-transition:all .3s ease-out 0s;
	-o-transition:all .3s ease-out 0s;
	transition:all .3s ease-out 0s;
  text-decoration:none;
}
@media only screen and (min-width:992px) and (max-width:1199px) {
	.header-area .main-header .menu-wrapper .main-menu ul li a {
		padding:41px 15px;
	}
}
.header-area .main-header .menu-wrapper .main-menu ul li:hover>a {
	color:#ff2020;
  text-decoration:underline;
}
.header-area .main-header .menu-wrapper .main-menu ul li.hot {
	position:relative;
}
.header-area .main-header .menu-wrapper .main-menu ul li.hot::before {
	position:absolute;
	content:"HOT";
	background:#ff003c;
	color:#fff;
	text-align:center;
	border-radius:8px;
	font-size:10px;
	top:19px;
	right:-13px;
	-webkit-transition:all .2s ease-out 0s;
	-moz-transition:all .2s ease-out 0s;
	-ms-transition:all .2s ease-out 0s;
	-o-transition:all .2s ease-out 0s;
	transition:all .2s ease-out 0s;
	box-shadow:0 2px 5px rgba(0,0,0,0.3);
	padding:3px 8px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:500;
}
.header-area .main-header .menu-wrapper .main-menu ul li:hover>ul.submenu {
	visibility:visible;
	opacity:1;
	top:100%;
}
.header-area .main-header .menu-wrapper .main-menu ul li:hover>ul.submenu::before {
	top:-8px;
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu {
	position:absolute;
	width:170px;
	background:#fff;
	left:0;
	top:90%;
	visibility:hidden;
	opacity:0;
	box-shadow:0 0 10px 3px rgba(0,0,0,0.05);
	padding:17px 0;
	border-top:3px solid #ff2020;
	border-radius:7px 7px 3px 3px;
	-webkit-transition:all .2s ease-out 0s;
	-moz-transition:all .2s ease-out 0s;
	-ms-transition:all .2s ease-out 0s;
	-o-transition:all .2s ease-out 0s;
	transition:all .2s ease-out 0s;
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li {
	margin-left:7px;
	display:block;
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li>a {
	padding:6px 10px !important;
	font-size:16px;
	color:#0b1c39;
	text-transform:capitalize;
  text-decoration:none;
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li>a:hover {
	color:#ff2020;
	background:none;
  text-decoration:underline;
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu::before {
	border-style:solid;
	border-width:0 6px 6px 6px;
	border-color:transparent transparent red transparent;
	content:"";
	top:-5px;
	left:13%;
	position:absolute;
	transition:.3s;
	z-index:-1;
	overflow:hidden;
	-webkit-transition:all .3s ease-out 0s;
	-moz-transition:all .3s ease-out 0s;
	-ms-transition:all .3s ease-out 0s;
	-o-transition:all .3s ease-out 0s;
	transition:all .3s ease-out 0s;
}
@media only screen and (min-width:768px) and (max-width:991px) {
	.header-area .main-header .menu-wrapper .header-right {
		margin-right:82px;
	}
}
@media only screen and (min-width:576px) and (max-width:767px) {
	.header-area .main-header .menu-wrapper .header-right {
		margin-right:73px;
	}
}
@media (max-width:575px) {
	.header-area .main-header .menu-wrapper .header-right {
		position:relative;
		bottom:-73px;
		z-index:3;
		right:5px;
	}
}
.header-area .main-header .menu-wrapper .header-right ul {
	display:flex !important;
	justify-content:space-between;
}
.header-area .main-header .menu-wrapper .header-right .nav-search {
	display:inline-block;
}
.header-area .main-header .menu-wrapper .header-right span {
	color:#000000;
	font-size:16px;
	cursor:pointer;
	padding:31px 19px;
}
.header-area .main-header .menu-wrapper .header-right span:hover {
	color:#ff2020;
}
@media only screen and (min-width:768px) and (max-width:991px) {
	.header-area .main-header .menu-wrapper .header-right span {
		padding:21px 19px;
	}
}
@media (max-width:575px) {
	.header-area .main-header .menu-wrapper .header-right span {
		padding:6px 9px;
	}
}
@media only screen and (min-width:768px) and (max-width:991px) {
	.header-sticky.sticky-bar.sticky {
		padding:22px 0px;
	}
}
@media (max-width:575px) {
	.header-sticky.sticky-bar.sticky .header-right {
		display:none
	}
}
.mobile_menu {
	position:absolute;
	right:0px;
	width:100%;
	z-index:99;
}
.mobile_menu .slicknav_menu {
	background:transparent;
	margin-top:0px !important;
}
.mobile_menu .slicknav_menu .slicknav_btn {
	top:-25px;
}
.mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
	background-color:#ff2020 !important;
}
.mobile_menu .slicknav_menu .slicknav_nav {
	margin-top:16px !important;
}
.mobile_menu .slicknav_menu .slicknav_nav a:hover {
	background:transparent;
	color:#ff2020;
}
.mobile_menu .slicknav_menu .slicknav_nav a {
	font-size:15px;
	padding:7px 10px;
}
.mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
	padding:0 !important;
}
.search-model-box {
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:#000;
	z-index:99999;
}
.search-model-box .search-model-form {
	padding:0 15px;
}
.search-model-box .search-model-form input {
	width:500px;
	font-size:40px;
	border:none;
	border-bottom:2px solid #333;
	background:none;
	color:#999;
}
@media only screen and (min-width:576px) and (max-width:767px) {
	.search-model-box .search-model-form input {
		width:251px;
		font-size:26px;
	}
}
@media (max-width:575px) {
	.search-model-box .search-model-form input {
		width:251px;
		font-size:26px;
	}
}
.search-model-box .search-close-btn {
	position:absolute;
	width:50px;
	height:50px;
	background:#333;
	color:#fff;
	text-align:center;
	border-radius:50%;
	font-size:28px;
	line-height:28px;
	top:30px;
	cursor:pointer;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
}

li {list-style:none;}

.header-right > ul > li > a > i {color:black;}
.header-right > ul > li:hover > div {color:red;}
.header-right > ul > li:hover > a > i {color:red;}

.main-header {border-bottom:2px solid silver;}

.bg-red{background-color:red;}

.toggle {display:none;}



header.roll {
  /* 스크롤 후 헤더 사이즈(세로) */
  /* 스크롤 후 헤더 배경색 */
  background-color:#282828;
}
header.roll .header-area .main-header .menu-wrapper .main-menu ul li a {color:white;}

header.roll .header-area .main-header .menu-wrapper .main-menu ul li > ul > li > a {color:black;}

header.roll .header-right > ul > li {color:white;}
header.roll .header-right > ul > li > a > i {color:white;}
header.roll .header-right > ul > li:hover > div {color:red;}
header.roll .header-right > ul > li:hover > a > i {color:red;}

header .header-area {
  /* 메뉴 영역 가로 사이즈 */
  margin:0 auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

header .roll .header-area {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* RESPONSIVE */
@media screen and (max-width:768px) {
  .header-area {width:100%;,padding:0 15px; box-sizing:border-box;}
  header {position: static; top: 0; background: #fff; padding: 20px 0 0;  box-shadow: 0 3px 3px rgba(0,0,0,.3);}
  .toggle {display: block; position: absolute; top: 33px; right: 30px; line-height: 56px;}
  .toggle:hover {color:red;}
  header .header-area {padding:0;}
  .logo {margin-left:30px;}
  .header-area .main-header .menu-wrapper .main-menu ul li a {color:white;}
  .main-menu {background-color:black; margin-top:35px; width:100%;}
  .main-menu > nav > ul {display:flex; flex-direction:column;}
  .main-menu > nav > ul > li {left:-30px; border-bottom:1px solid white; line-height:1px;}
  .main-menu > nav > ul > li > ul {display:none;}
  .header-area .main-header .menu-wrapper .main-menu ul li.hot::before {display:none;}
  .clicked_menu{display:block; background-color:red;}  
}

.toggle {display: none;}



/* FOOTER */
footer p {color: #555; font-size: 14px;}

.footer_bottom {background: #111; padding: 42px 0 49px;}
.footer_bottom p {line-height: 20px;}
.footer_bottom .copy {float: left;}
.footer_bottom .designer {float: right;}
.footer_bottom p a {color: #555; text-decoration: none;}
.footer_bottom p a:hover {color: #c7b299;}
.footer_bottom p span {color: #959595;}
.footer_bottom p .devider {margin: 0 8px;}

.footer_bottom .footer_logo a {width : 171px; height: 56px; background: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbf7ugG%2FbtqT6Ie7oGe%2FS3g5dflgWaUONth84FJe40%2Fimg.png) no-repeat;}

  



/* 라이브러리 */
.hover-underline:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.min-height-100vh {
  min-height: 100vh;
}

.bg-pink {
  background-color: pink;
}

.bd-green {
  border: 10px solid green;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.height-100p {
  height: 100%;
}

.none {
  display: none;
}

.block {
  display: block;
}

/* 커스텀 */
.con-min-width {
  min-width: 1200px;
}

.con {
  width: 1200px;
}

/* 로고 시작 */

/* 로고 끝 */

/* 로고바 시작 */

/* 로고바 끝 */

/* 메뉴바 시작 */

/* 메뉴바 끝 */

/* 타이틀바 시작 */
.title-bar {
  margin-top: 130px;
  margin-bottom: 30px;
}
/* 타이틀바 끝 */

/* 하단바 시작 */
.bottom-bar {
  margin-top: 30px;
  background-color: black;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom-bar__site-info {
  margin-left: 20px;
}
/* 하단바 끝 */


/* 게시물 검색 시작 */

.article-search > form {
  display:flex;
  justify-content:flex-end;
  padding:10px;
}

/* 게시물 검색 끝 */

/* 게시물 리스트 시작 */
:root {
  --article-list__cell-id__width: 100px;
  --article-list__cell-reg-date__width: 220px;
  --article-list__cell-writer__width: 150px;
  --article-list__cell-title__width: calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width)- var(--article-list__cell-writer__width));
}

.article-list > * > div {
  display: flex;
}

.article-list > div > div > div {
  position: relative;
}

.article-list > div > div > div:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 10px;
  background-color: black;
}

.article-list > * > div > div {
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.article-list__cell-id {
  width: var(--article-list__cell-id__width);
}

.article-list__cell-reg-date {
  width: var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
  width: var(--article-list__cell-writer__width);
}

.article-list__cell-title {
  width: var(--article-list__cell-title__width);
}

.article-list__cell-title {
  text-align: left;
  padding-left: 10px;
}

.article-list > .main > div {
  border-top: 1px solid black;
}
/* 게시물 리스트 끝 */

/* 게시물 리스트 페이지 메뉴 시작 */
.article-page-menu {
  margin-top: 20px;
}

.article-page-menu > ul > li > a {
  padding: 7px;
}

.article-page-menu > ul > li:not(:first-child ):not(:last-child ) > a {
  border: 1px solid transparent;
  padding-left: 0;
  padding-right: 0;
  min-width: 30px;
  justify-content: center;
}

.article-page-menu > ul > li:not(:first-child ):not(:last-child ):hover > a {
  border-color: #afafaf;
}

.article-page-menu__link--selected {
  color: red;
}
/* 게시물 리스트 페이지 메뉴 끝 */

/* 게시물 상세 시작 */
.article-detail > * {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  padding-top: 20px;
}

.article-detail__title {
  font-size: 1.2rem;
  padding-top: 0;
}

.article-detail__sub-info > * {
  margin-right: 15px;
}

.article-detail__menu > a {
  margin-right: 15px;
}

/* 게시물 상세 끝 */

/* vue 시작 */
[v-cloak] {
	display:none;
}
/* vue 끝 */

.flex-grow-1 {margin-top: 130px;}